.header {
  background-color: #ADC178;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  color: #F0EAD2;
  font-family: Roboto;
}
@media screen and (max-width: 500px) {
  .header {
    height: 150px;
  }
}
.header > * {
  width: 33%;
}
.leftNav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
}
.leftNav > * {
  color: #F0EAD2;
  font-family: Roboto;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}
.leftNav > *:hover, .login:hover {
  background-color: #9aab6a;
}
.middleNav {
  display: flex;
  justify-content: center;
  cursor: default;
}
.rightNav {
  display: flex;
  justify-content: right;
  padding-right: 20px;
}
.rightNav > button {
  color: #F0EAD2;
  background-color: #A98467;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
.login {
  color: #F0EAD2;
  font-family: Roboto;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}
.rightNav > button:hover {
  background-color: #97765d;
  cursor: pointer;
}

/* @media screen and (max-width: 700px) {

} */